
html, body {
    padding: 0%;
    margin: 0%;
}

header{
    background-color: aqua;
    height: 60px;
    grid-area: header;
}

/*#wrapper {
    background-color: blueviolet;
    overflow: hidden;
    display: flex;
    /*flex-direction: row-reverse;*/


nav{
    background-color: brown;
    grid-area: menu;
    /* width: 25% ; */
}

article{
    background-color: bisque;
    height: 80px;
    grid-area: content;
}

footer{
    /*clear: both;*/
    background-color: green;
    height: 120px;
    grid-area: footer;
}

#container{
    background-color: tomato;
    margin: 0px auto;
    max-width: 800px;

    display: grid;
    grid-template-areas: 
    "header header header header"
    "menu content content content"
    "footer footer footer footer"
    ;
}